.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  height: 360px;
  width: 360px;
  background-color: azure;
  display: flex;
  flex-flow: wrap;
}

.cell {
  height: 40px;
  width: 40px;
  background-color: gray;
  border: 1px solid;
  border-color: black;
  white-space: nowrap;
}

.stone {
  width: 38px;
  height: 38px;
  background-color: rgb(179 179 179);
  border: 1px solid wheat;
  border: outset 4px;
  position: absolute;
}

.stone0 {
  width: 38px;
  height: 38px;
  background-color: rgb(179 179 179);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
